*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --white-color: #FFFFFF;
    --pink-color: #D8C1BF;
    --light-black-color: #424242;
}

ul[class], ol[class] {
    padding: 0;
    list-style-type: none;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
}
*::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
}
html {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

section {
    position: relative;
    padding: 80px 0;
}

img {
    max-width: 100%;
}

footer {
    padding: 40px 0;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212529;
    margin: 2rem auto;
    font-size: 1.3rem;
    color: #FFFFFF !important;
    padding: 1.2rem 2.5rem !important;
    outline: none;
    border: none !important;
    border-radius: 40px !important;
    transition: .3s;
}

.btn:hover {
    opacity: .8;
}