body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

nav {
    background-image: url(../img/nav.jpg);
    background-size: cover;
    background-position: center;
    padding: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
}

header, main, section, footer {
    padding: 20px;
}
main {
    background-color: #D7E1F2;

}
header .header-contacts a {
    margin: 0 10px;
    font-size: 20px;
    font-weight: bold;

}

header .navbar .navbar-collapse {
    justify-content: flex-end !important;
}

header .navbar a {
    color: #212529 !important;
    transition: .3s;
}

header .navbar a:hover {
    color: #212529;
    opacity: .5;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212529;
    margin: 2rem auto;
    font-size: 1.3rem;
    color: #FFFFFF !important;
    padding: 1.2rem 2.5rem !important;
    outline: none;
    border: none !important;
    border-radius: 40px !important;
    transition: .3s;
}

.btn:hover {
    opacity: .8;
}